.carousel-container {
    margin: 20px auto;
    max-width: 850px;
    position: relative;
  }
  
  .carousel-item {
    transition: all 0.3s ease;
  }

  .slick-slide{
    height: var(--dynamic-height, 200);
  }
  
  .slick-slide .carousel-item {
    z-index: 1;
    position: relative;
    transform: scale(0.8) translateY(calc(var(--dynamic-height, 200) / 3));
  }
  
  .slick-slide .carousel-item.active {
    z-index: 5;
    transform: scale(2)  translateY(4px);
  }
  
  .slick-slide .iframe-container{
    width: 100%;
    height: fit-content;
    height: 10px;
  }
  
  .slick-slide .overlay{
    height: calc(var(--dynamic-height, 200) / 2);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 10;
  }
  
  .slick-slide .link-overlay {
    --link-overlay-height: 14px;
    --link-overlay-margin: 2px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--link-overlay-height);
    margin-top: calc(var(--dynamic-height, 200) / 2 - (10px + var(--link-overlay-height) + var(--link-overlay-margin)));
    margin-left: 2px;
    background-color: #fafafa;
    border-radius: 2px;
    font-size: 0.4rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;


}

.slick-slide .link-overlay:hover{
    transform: scale(1.02);
}

.slick-slide .link-overlay .link-icon {
    height: calc(var(--link-overlay-height) - 3px);
    width: calc(var(--link-overlay-height) - 3px);
    margin-left: 1px;
    flex-shrink: 0;
}

.slick-slide .link-overlay .link-text {
    padding: 0 3px;
}